cloud_id = "b1gunccvfss6nmd17o58"
folder_id = "b1g3bastprflpmc7jy5264"
zone = "ru-central1-a"
image_id = "fd8gi9lilbslr1ab4jht"
public_key_path = "~/.ssh/appuser.pub"
subnet_id = "e9b6jsv5mc6ugbd2p275"
token = "AQARRRRRtfufuoftfdfytdrdrd-KFMES4"
ssh_key = "~/.ssh/appuser"
